# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/

# IDE
.vscode/

# Build artifacts
build/
dist/
installer_output/

# Debug logs
*.log
wasi_debug.log

# OS
Thumbs.db
.DS_Store
